@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-item {
    @apply hover:opacity-70 duration-300 active:opacity-100;
  }
  .width-80 {
    @apply w-[80%] mx-auto;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
}

:root,
html,
body {
  margin: 0;
  color: white;
  scroll-behavior: smooth;
}

.transition {
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.3) 10%,
    rgb(27, 48, 55) 70%,
    rgb(27, 48, 55) 70%,
    rgb(27, 48, 55) 70%,
    rgba(43, 39, 42, 0.089) 2%
  );
}

.spin-button {
  animation: spin 4s linear infinite;
}

.bg-BluePurple {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(127, 255, 0) 0%,
    rgb(152, 70, 242) 100.2%
  );
}

.translate-x-0 {
  transform: translateX(0);
}

.translate-x-full {
  transform: translateX(100%);
}

.changeColor-circle-blue {
  animation: changeColorBlue 4s infinite;
}

.changeColor-circle-green {
  animation: changeColorGreen 4s infinite;
}
.changeColor-circle-pink {
  animation: changeColorPink 4s infinite;
}

.blue-gradient {
  background: #00f2fe;
  background: linear-gradient(-90deg, #00f2fe 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #00f2fe 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-gradient {
  background: #7fff00;
  background: linear-gradient(-90deg, #00f2fe 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #7fff00 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.pink-gradient {
  background: #fe53bb;
  background: linear-gradient(-90deg, #00f2fe 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #fe53bb 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.text-light-blue {
  animation: textLightBlue 5s linear infinite;
}

.text-light-green {
  animation: textLightGreen 5s linear infinite;
}

.text-light-pink {
  animation: textLightPink 5s linear infinite;
}

.hero-img {
  animation: rotate 5s linear 2s infinite alternate;
}

.animation {
  animation: animate1 2s infinite ease alternate;
}

.animation-1 {
  animation: animate2 2s infinite ease alternate;
}

.spinning {
  border-top-color: #ffffff !important;
  border-right-color: #ffffff !important;
  border-bottom-color: #ffffff !important;
  -webkit-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
}

@keyframes changeColorBlue {
  0% {
    background-color: #00f2ffd3;
    box-shadow: 1px 2px 50px 10px #00f2fe;
  }
  50% {
    background-color: #86f8fe;
    box-shadow: 1px 2px 50px 16px #00f2fe;
  }
  100% {
    background-color: #00f2fe;
    box-shadow: 1px 2px 50px 16px #00f2fe;
  }
}

@keyframes changeColorPink {
  0% {
    background-color: #ff7db5;
    box-shadow: 1px 2px 50px 10px #ff85ce;
  }
  50% {
    background-color: #ff36bf;
    box-shadow: 1px 2px 50px 16px #ff85ce;
  }
  100% {
    background-color: #fe53bb;
    box-shadow: 1px 2px 50px 16px #ff85ce;
  }
}

@keyframes changeColorGreen {
  0% {
    background-color: #95ff2a;
    box-shadow: 1px 2px 50px 10px #7fff00;
  }
  50% {
    background-color: #62c400;
    box-shadow: 1px 2px 50px 16px #7fff00;
  }
  100% {
    background-color: #7fff00;
    box-shadow: 1px 2px 50px 16px #7fff00;
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes textLightBlue {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #2d2d2e;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff,
      0 0 160px #0ff;
  }
}

@keyframes textLightGreen {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #2d2d2e;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #7fff00, 0 0 20px #7fff00, 0 0 40px #7fff00, 0 0 80px #7fff00,
      0 0 160px #7fff00;
  }
}

@keyframes textLightPink {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #2d2d2e;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #ff49b8, 0 0 20px #ff49b8, 0 0 40px #ff49b8, 0 0 80px #ff49b8,
      0 0 160px #ff49b8;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

@keyframes animate1 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes animate2 {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}