@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  margin: 0;
  color: white;
}

.transition {
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.3) 10%,
    rgb(27, 48, 55) 70%,
    rgb(27, 48, 55) 70%,
    rgb(27, 48, 55) 70%,
    rgba(43, 39, 42, 0.089) 2%
  );
}
